<section>
  <h1>Consulta de saldo</h1>
  <header>
    <div class="atenuado">
      Último login:
      {{ cliente.ultimoLogin | date:'short' }}
    </div>
    <div>
      <b>Cliente:</b>
      {{ cliente.nome | uppercase }}
    </div>
    <div>
      <b>Saldo:</b>
      <span
        [className]="cliente.saldo | classNamePorValor:confs"
      >
        {{ cliente.saldo | currency:'BRL' }}
      </span>
    </div>
    <div>
      <b>Crédito pré-aprovado:</b>
      <span
        [className]="cliente.creditoPreAprovado | classNamePorValor:confs"
      >
        {{ cliente.creditoPreAprovado | currency:'BRL' }}
      </span>
    </div>
  </header>
</section>
