.atenuado {
  font-size: .8em;
  font-style: italic;
  margin: 1em 0;
}

.verde {
  color: green;
}
.vermelho {
  color: red;
}

section {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 1em;
}
section h1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
section picture {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
section header {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
